In [27]:
# Import the neccessary libraries
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
print("All neccessary libraries imported")

All neccessary libraries imported

In [28]:
# Set the seed value for the notebook so the results are reproducible
from numpy.random import seed
seed(42)

In [29]:
# Raw data from Resources directory (change the link as needed)
attribute_data = "charts.csv"

In [30]:
# Read the wildfire data into a dataframe
df_attributes = pd.read_csv(attribute_data)

In [31]:
# Let's see the column names in the dataframe
print(df_attributes.columns.tolist())

['date', 'rank', 'song', 'artist', 'last-week', 'peak-rank', 'weeks-on-board']

In [32]:
# Basic information of the df_fire dataframe by the info() method
df_attributes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  object
 1   rank            330087 non-null  int64
 2   song            330087 non-null  object
 3   artist          330087 non-null  object
 4   last-week       297775 non-null  float64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 17.6+ MB

In [33]:
# Let's see the maximum and minimum popularity
print('\033[1m'+"Maximum Popularity is : {}" .format(df_attributes["peak-rank"].max())+'\033[0m')
print('\033[1m'+"Minimum Popularity is : {}" .format(df_attributes["peak-rank"].min())+'\033[0m')

Maximum Popularity is : 100
Minimum Popularity is : 1

In [34]:
import numpy as np
# Create a copy of df_attributes
df_copy = df_attributes.copy()
# Create X and Y numpy arrays
y = df_copy[['peak-rank']].to_numpy() # Keep only the rank column
df_copy.drop(columns=['peak-rank'],inplace=True) # Keep only the attributes
X = df_copy.to_numpy() # Convert the dataframe to numpy array
print(X.shape)
print(y.shape)

(330087, 6)
(330087, 1)

In [35]:
# Create a new column that bins the popularity from 0-9
df_attributes["Rank"] = df_attributes["peak-rank"].apply(lambda x: 1 if x <=15 else 0)
# Let's see the new column
df_attributes.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board,Rank
0,11/6/2021,1,Easy On Me,Adele,1.0,1,3,1
1,11/6/2021,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16,1
2,11/6/2021,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14,1
3,11/6/2021,4,Fancy Like,Walker Hayes,4.0,3,19,1
4,11/6/2021,5,Bad Habits,Ed Sheeran,5.0,2,18,1

In [36]:
import numpy as np
# Create a copy of df_attributes
df_copy = df_attributes.copy()
# Create X and Y numpy arrays
y = df_copy[['Rank']].to_numpy() # Keep only the rank column
df_copy.drop(columns=['peak-rank','Rank'],inplace=True) # Keep only the attributes
X = df_copy.to_numpy() # Convert the dataframe to numpy array
print('\033[1m'+"Shape of the X dataset: {}".format(X.shape)+'\033[0m')
print('\033[1m'+"Shape of the y dataset: {}".format(y.shape)+'\033[0m')

Shape of the X dataset: (330087, 6)
Shape of the y dataset: (330087, 1)

In [37]:
# Use train_test_split to create training and testing data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Shape of the train & test set
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (264069, 6) (264069, 1)
Test set: (66018, 6) (66018, 1)