In [1]:
# base imports
import numpy as np
import pandas as pd

import math

from matplotlib import style, pyplot, figure

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, roc_curve, auc
from sklearn.utils import resample
from sklearn import preprocessing

In [2]:
# read csv data of top 100 songs of 2011-2020 into dataframe
song_df = pd.read_csv(
    "charts.csv")

song_df.head()

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,11/6/2021,1,Easy On Me,Adele,1.0,1,3
1,11/6/2021,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,11/6/2021,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,11/6/2021,4,Fancy Like,Walker Hayes,4.0,3,19
4,11/6/2021,5,Bad Habits,Ed Sheeran,5.0,2,18

In [3]:
# checking shape of song_df
song_df.shape

(330087, 7)

In [4]:
song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  object
 1   rank            330087 non-null  int64
 2   song            330087 non-null  object
 3   artist          330087 non-null  object
 4   last-week       297775 non-null  float64
 5   peak-rank       330087 non-null  int64
 6   weeks-on-board  330087 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 17.6+ MB

In [5]:
song_df = song_df.convert_dtypes()

song_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330087 entries, 0 to 330086
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   date            330087 non-null  string
 1   rank            330087 non-null  Int64
 2   song            330087 non-null  string
 3   artist          330087 non-null  string
 4   last-week       297775 non-null  Int64
 5   peak-rank       330087 non-null  Int64
 6   weeks-on-board  330087 non-null  Int64
dtypes: Int64(4), string(3)
memory usage: 18.9 MB

In [15]:
import pandas as pd

In [16]:
pd = pd.read_csv("charts.csv")
pd.head(10)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,11/6/2021,1,Easy On Me,Adele,1.0,1,3
1,11/6/2021,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,11/6/2021,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,11/6/2021,4,Fancy Like,Walker Hayes,4.0,3,19
4,11/6/2021,5,Bad Habits,Ed Sheeran,5.0,2,18
5,11/6/2021,6,Way 2 Sexy,Drake Featuring Future & Young Thug,6.0,1,8
6,11/6/2021,7,Shivers,Ed Sheeran,9.0,7,7
7,11/6/2021,8,Good 4 U,Olivia Rodrigo,7.0,1,24
8,11/6/2021,9,Need To Know,Doja Cat,11.0,9,20
9,11/6/2021,10,Levitating,Dua Lipa,8.0,2,56

In [21]:
df = pd[["artist", "weeks-on-board"]]
df.head(5)

                          artist  weeks-on-board
0                          Adele               3
1  The Kid LAROI & Justin Bieber              16
2        Lil Nas X & Jack Harlow              14
3                   Walker Hayes              19
4                     Ed Sheeran              18