In [53]:
import pandas as pd 
import nltk
import string

In [54]:
df = pd.read_csv('charts.csv')

In [55]:
print (df.shape) ; df.head()

(330087, 7)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,11/6/2021,1,Easy On Me,Adele,1.0,1,3
1,11/6/2021,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,11/6/2021,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,11/6/2021,4,Fancy Like,Walker Hayes,4.0,3,19
4,11/6/2021,5,Bad Habits,Ed Sheeran,5.0,2,18

In [60]:
df.head(10)

,date,rank,song,artist,last-week,peak-rank,weeks-on-board
0,11/6/2021,1,Easy On Me,Adele,1.0,1,3
1,11/6/2021,2,Stay,The Kid LAROI & Justin Bieber,2.0,1,16
2,11/6/2021,3,Industry Baby,Lil Nas X & Jack Harlow,3.0,1,14
3,11/6/2021,4,Fancy Like,Walker Hayes,4.0,3,19
4,11/6/2021,5,Bad Habits,Ed Sheeran,5.0,2,18
5,11/6/2021,6,Way 2 Sexy,Drake Featuring Future & Young Thug,6.0,1,8
6,11/6/2021,7,Shivers,Ed Sheeran,9.0,7,7
7,11/6/2021,8,Good 4 U,Olivia Rodrigo,7.0,1,24
8,11/6/2021,9,Need To Know,Doja Cat,11.0,9,20
9,11/6/2021,10,Levitating,Dua Lipa,8.0,2,56

In [62]:
df.columns

Index(['date', 'rank', 'song', 'artist', 'last-week', 'peak-rank',
       'weeks-on-board'],
      dtype='object')

In [63]:
df.index

RangeIndex(start=0, stop=330087, step=1)

In [65]:
df.nunique()

date               3301
rank                100
song              24620
artist            10205
last-week           100
peak-rank           100
weeks-on-board       90
dtype: int64